* { font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-size: x-large;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
  }
  
  body {
    height: 100vh;
    display: flex;
    background-color: rgb(77, 155, 109);
    transition: 0.5s ease;
    position: relative;
  }
  
  .name,
  .email,
  .password,
  .finish,.final{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:none;
    height: 50px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    transition: all 0.5s ease;
  }
  
  .name i,
  .email i,
  .password i,
  .finish i ,.final i{
    padding: 10px;
    cursor: pointer;
  }
  
  .name input,
  .email input,
  .password input {
    background: none;
    border: none;
    outline: none;
    flex: 1;
    height: 100%;
    border-bottom: 2px solid black;
    
  }

  .ques{
     
      display: flex;
    justify-content: space-between;
     position: absolute;
      top: -50%;
      width: 100%;
      height: 100%;
    
  }
  #button-1 {
      display:flex ;
      font-size: 22px;
      
      color: rgb(62, 175, 87);
      /* border:rgb(61, 50, 30); */
      border-radius: 12%;
      background: black;
      position: relative;
      top: 150%;
      left: -60%;
      
       
  }
  button{
      /* background:cadetblue; */
      display:flex ;
      font-size: 20px;
      border: none;
      color: rgb(62, 175, 87);
      /* padding: 0% auto; */
      background: none;

  }
  
  .enterBtn{
    position: relative;
    top: 150%;
    left: -50%;
    font-size:smaller; 
    /* font-weight: unset;  */
    line-height: 16px;
  }
  
  div.innactive {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, 50%);
  }
  
  div.active {
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%, -50%);
  }
  
  @keyframes shake {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
      transform: translate(-50%, -50%) rotate(10deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }
  